<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @tipo_de_envase.detalle %>
</p>


<%= link_to t('scaffoldi18n.edit'), edit_tipo_de_envase_path(@tipo_de_envase) %> |
<%= link_to t('scaffoldi18n.back'), tipos_de_envase_path %>
